.heading{
    text-align: center;
    font-size: 30px;
}

.app{
    min-height: 100vh;
    padding: 30px;
    background-color: #161b22;
    color: white;
}
label{
    color: white;
    margin: 5px;
}
button{
    margin-bottom: 10px;
}

.slds-scrollable_y{
    height: 500px;
}
.customh1{
    font-size: 35px;
}