.heading{
    text-align: center;
    font-size: 30px;
}

.app{
    padding: 20px;
    background-color: #161b22;
}

button{
    margin-bottom: 10px;
}

lightning-select .slds-select {
    background-color: black;
    color: white;
    --slds-c-select-color-background:black;
}
lightning-textarea {
    --slds-c-textarea-color-background:black
}